* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #78e08f;
    font-family: 'Poppins', sans-serif;

}

.logo {
    letter-spacing: 5px;
    font-size: 30px;
}

.logo a {
    text-decoration: none;
    color: rgb(58, 31, 9);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(58, 31, 9);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(58, 31, 9);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #78e08f;
        display: block;
        text-align: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a {
        display: block;
        margin: 15px 0px;
        
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}